@tailwind base;
@tailwind components;

/* 
.app h1 {
  @apply text-6xl font-bold my-8;
} */

.app h2 {
  @apply text-3xl font-bold my-6;
}

.app h3 {
  @apply text-xl my-6;
}

.app p {
  @apply text-base my-4;
  color: #454545;
}

.leigh-wants-background {
  background: url("https://user-images.githubusercontent.com/13127625/70859550-6d0cbd80-1eca-11ea-83f9-e5aa94b9e76f.jpg");
}

.center-plant > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-lg;
}
/* Headers */
.markdown h1 {
  @apply text-4xl my-6 font-bold
}
.markdown h2 {
  @apply text-3xl my-6 font-bold;
}
.markdown h3 {
  @apply text-xl my-6 font-bold;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-xl my-3 font-semibold;
}
/* Links */
.markdown a {
  @apply;
  color: rgb(51, 51, 249);
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply text-base mb-4;
  color: #454545;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
.markdown li {
  @apply text-base;
}
/* Blockquotes */
.markdown blockquote {
  @apply p-0 p-2 mx-6 mb-4 border-l-4 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border;
}
.markdown table {
  @apply mb-6;
}

.markdown img {
  @apply w-full;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04)!important;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.markdown img + p {
  text-align: center;
  color: blue;
}
/* purgecss end ignore */

@tailwind utilities;