@tailwind base;
@tailwind components;

/* 
.app h1 {
  @apply text-6xl font-bold my-8;
} */

.app {
  background: #ffffff;
  color: #37352e;
}

.app h2 {
  @apply text-3xl font-bold my-6;
}

.app h3 {
  @apply text-2xl font-bold my-6;
}

.app h3 {
  @apply text-xl my-6;
}

.app p {
  @apply text-base my-4;
  color: #454545;
}

.app i {
  background: #ffffff;
}

.app p span {
  background-color: #ffffff;
  padding-top: 5px;
  padding-bottom: 5px;
}

.leigh-wants-background {
  background: url("https://user-images.githubusercontent.com/13127625/70859550-6d0cbd80-1eca-11ea-83f9-e5aa94b9e76f.jpg");
}

.link {
  color: #2b6cb0;
  word-wrap: break-word
}

.center-plant > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
}

.video-container iframe {
  display: block;
  width: 80%;
  height: 300px;
}

.landing {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}

.landing-content {
  z-index: 3;
}

.bg-white {
  background: #ffffff;
}

@media screen and (min-width: 1150px) {
  .landing::before {
    /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
    background: #ffffff;
    box-shadow: 0 0 0 1pt #2e2e2e;
    content: "";
    width: 45vmax;
    height: 35vmax;
    position: absolute;
    /* background: rgba(255, 255, 255, 0.07); */
    left: 12vmin;
    top: 35vmin;
    animation: morph-smaller 15s linear infinite alternate;
    z-index: 2;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }
  
  .landing::after {
    /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
    background: #ffffff;
    box-shadow: 0 0 0 1pt #2e2e2e;
    content: "";
    width: 70vmax;
    height: 55vmax;
    position: absolute;
    /* background: rgba(255, 255, 255, 0.07); */
    left: -20vmin;
    top: -20vmin;
    animation: morph 10s linear infinite alternate;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }
}

@media screen and (max-width: 1150px) and (min-width: 1000px) {
  .landing::before {
    /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
    background: #ffffff;
    box-shadow: 0 0 0 1pt #2e2e2e;
    content: "";
    width: 60vmax;
    height: 45vmax;
    position: absolute;
    /* background: rgba(255, 255, 255, 0.07); */
    left: 15vmin;
    top: 38vmin;
    animation: morph-smaller 15s linear infinite alternate;
    z-index: 2;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }
  
  .landing::after {
    /* border-radius: 83% 55% 43% 40% / 40% 70% 75% 76%; */
    background: #ffffff;
    box-shadow: 0 0 0 1pt #2e2e2e;
    content: "";
    width: 110vmax;
    height: 75vmax;
    position: absolute;
    /* background: rgba(255, 255, 255, 0.07); */
    left: -20vmin;
    top: -20vmin;
    animation: morph 10s linear infinite alternate;
    z-index: 1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }
}

@keyframes morph {
  0% {border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;}
  100% {border-radius: 40% 60%;}
}

@keyframes morph-smaller {
  0% {border-radius: 63% 37% 44% 56% / 23% 53% 47% 77%; }
  100% {border-radius: 69% 31% 25% 75% / 71% 22% 78% 29% ;}
}

/* purgecss start ignore */
/* Markdown Styles */
/* Global */
.markdown {
  @apply leading-relaxed text-lg;
  color: #37352e;
}
/* Headers */
.markdown h1 {
  @apply text-4xl my-6 font-bold
}
.markdown h2 {
  @apply text-3xl my-6 font-bold;
}
.markdown h3 {
  @apply text-xl my-6 font-bold;
}
.markdown h4,
.markdown h5,
.markdown h6 {
  @apply text-xl my-3 font-semibold;
}
/* Links */
.markdown a {
  @apply;
  color: rgb(51, 51, 249);
}
.markdown a:hover {
  @apply underline;
}
/* Paragraph */
.markdown p {
  @apply text-base mb-4;
  color: #454545;
}
/* Lists */
.markdown ul,
.markdown ol {
  @apply mb-4 ml-8;
  color: #454545;
}
.markdown li > p,
.markdown li > ul,
.markdown li > ol {
  @apply mb-0;
}
.markdown ol {
  @apply list-decimal;
}
.markdown ul {
  @apply list-disc;
}
.markdown li {
  @apply text-base;
}
/* Blockquotes */
.markdown blockquote {
  @apply p-0 p-2 mx-6 mb-4 border-l-4 italic;
}
.markdown blockquote > p {
  @apply mb-0;
}
/* Tables */
.markdown td,
.markdown th {
  @apply px-2 py-1 border;
}
.markdown table {
  @apply mb-6;
}

.markdown img {
  @apply w-full;
  box-shadow: 0 20px 25px -5px rgba(0,0,0,.1),0 10px 10px -5px rgba(0,0,0,.04)!important;
  margin-bottom: 2rem;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.markdown img + p {
  text-align: center;
  color: blue;
}
/* purgecss end ignore */

@tailwind utilities;